<div
	class="w-full h-full flex flex-col justify-center items-center gap-2 border border-base-100/20 shadow-2xl px-2 py-0.5 md:py-2 lg:py-3 rounded-lg bg-neutral/30 backdrop-blur-sm">
	<p class="text-base-300 text-sm landscape:max-lg:text-sm md:text-xl lg:text-2xl font-medium">Turns</p>
	<div class="w-full flex justify-center items-center gap-1">
		@for (turn of store.turns(); track turn.id) {
			<span
				class="w-6 h-6 md:w-12 md:h-12 landscape:md:w-6 landscape:md:h-6 lg:w-12 lg:h-12 landscape:lg:w-12 landscape:lg:h-12"
				[ngClass]="turn.available ? 'opacity-100' : 'opacity-0'">
				<img [src]="turn.icon" alt="turn" class="w-full h-full" />
			</span>
		}
	</div>
</div>
