<app-dialog title="Check Your Stats!" (whenClosed)="onClose()">
	<!-- Triads Play Section -->
	<div class="w-full flex flex-col items-start p-4">
		<h3 class="text-sm md:text-base lg:text-lg font-semibold text-gray-900 pb-2">
			Triads Track Record for: <span class="text-base md:text-lg lg:text-xl font-bold">{{ store.user()?.username ?? '-' }}</span>
		</h3>
		<h3 class="text-sm md:text-base lg:text-lg font-semibold text-gray-900 border-b-2 border-gray-200 pb-2">
			Games Played: <span class="text-base md:text-lg lg:text-xl font-bold">{{ totalScore() }}</span>
		</h3>
	</div>

	<!-- Hints and Misses Section -->
	<div class="w-full flex flex-col justify-center items-center px-0 md:px-8 lg:px-12 py-4">
		<div class="w-full flex flex-col md:flex-row items-center md:justify-between gap-4">
			<ag-charts class="w-full md:w-4/6 h-full flex-1" [options]="chartOptions()"></ag-charts>
			<div class="w-full md:w-2/6 h-full text-center md:text-left">
				<p class="text-lg md:text-2xl text-gray-900">
					Average: <span class="font-medium">{{ averageScore() | number: '1.1-2' }}</span>
				</p>
			</div>
		</div>
		<p class="text-center text-sm">
			*since first game, <span class="font-bold">{{ (store.user()?.firstGameDate | date: 'MMMM dd, yyyy') ?? '-' }}</span>
		</p>
	</div>
</app-dialog>
