.selected {
	background: var(--color-primary);
	background: radial-gradient(circle, color-mix(in oklab, var(--color-accent) 60%, transparent) 0%, rgba(255, 255, 255, 0) 70%);
	scale: 1.1;
	transition: all 0.2s ease-in-out;
}
