.selected {
	background: var(--color-accent);
	background: radial-gradient(circle, var(--color-accent), rgba(255, 255, 255, 0) 70%);
	color: var(--color-accent-content);
}

.bubble {
	background-image: url('/images/bubble.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	backdrop-filter: blur(15px);
}
