ion-content {
	--background: url('/images/main-background.jpg') no-repeat center center / cover;
}

ion-toolbar {
	--background: transparent;
	--border-color: transparent;
}

ion-header.overlay-visible,
ion-header.overlay-visible ion-toolbar {
	z-index: 0;
}
