<header class="w-full h-8 flex justify-between items-center px-2">
	<div class="w-fit h-5 flex justify-center items-center px-2 rounded-full shadow-sm triad-gradient">
		<p class="text-xs text-primary-content font-semibold">Score 0</p>
	</div>

	<div class="w-fit flex justify-end items-center gap-4">
		<button class="w-fit h-5 px-2 rounded-full shadow-sm triad-gradient">
			<p class="text-xs text-primary-content font-semibold">{{ store.username() ?? "-" }}</p>
		</button>
		<button (click)="toggleHowToPlay()" class="w-fit h-5 px-2 rounded-full shadow-sm triad-gradient cursor-pointer">
			<p class="text-xs text-primary-content font-semibold">?</p>
		</button>
	</div>
</header>

<div class="w-full h-[calc(100%-32px)]">
	@if (store.showHowToPlay()) {
	<app-how-to-play />
	}
	<router-outlet />
</div>
