/* Ensure the component fills its parent so the container has size */
:host {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.bubbles-container {
	height: calc(100% - var(--bubble-header-offset, 0px));
	margin-top: var(--bubble-header-offset, 0px);
}
