<app-dialog title="Delete Triad Group?" (whenClosed)="onClose()">
	<p class="text-base-content text-xs landscape:max-md:text-xs md:text-base lg:text-lgx">
		Are you sure you want to delete this triad group? This action cannot be undone.
	</p>

	<div class="flex gap-2 landscape:max-md:gap-2 md:gap-3 justify-end">
		<button type="button" (click)="onClose()" class="btn btn-xs landscape:max-md:btn-xs md:btn-md btn-ghost px-3 landscape:max-md:px-3 md:px-6">
			Cancel
		</button>
		<button type="button" (click)="onConfirmClick()" class="btn btn-xs landscape:max-md:btn-xs md:btn-md btn-primary px-3 landscape:max-md:px-3 md:px-6">
			Delete
		</button>
	</div>
</app-dialog>
