.triads-logo-text {
	//-webkit-text-stroke: 1px #333; /* Dark stroke for the letters */
	font-weight: 900;
}

.info-hint-wrapper {
	padding-left: 0.5rem;
	padding-bottom: 0.5rem;
	gap: 0.25rem;
}

.info-hint-text {
	font-size: 0.65rem;
	line-height: 1.25;
	max-width: 10rem;
	color: #94a3b8;
	word-wrap: break-word;

	@media (min-width: 768px) {
		font-size: 0.7rem;
		max-width: 11rem;
	}
}

.info-hint-arrow {
	display: block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 6px solid #94a3b8;

	@media (min-width: 768px) {
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 6px solid #94a3b8;
	}
}
