<div class="w-screen h-screen bg-neutral-900/50 backdrop-blur-sm flex justify-center items-center px-4 fixed z-50 inset-0 overflow-y-auto">
	<form
		#usernameForm="ngForm"
		(ngSubmit)="onSubmit()"
		class="w-full h-fit flex flex-col justify-start items-center gap-2 py-6 bg-base-100 rounded-lg relative">
		<!--    <h3 class="text-3xl text-center font-bold">Welcome to <span class="text-error italic">Triads!</span></h3>-->

		<h1 class="text-7xl font-black text-center triads-logo-text">
			<span class="inline-block transform -rotate-6 text-[#f87171]">T</span>
			<span class="inline-block transform rotate-6 text-[#facc15]">r</span>
			<span class="inline-block transform -rotate-3 text-[#22c55e]">i</span>
			<span class="inline-block transform rotate-3 text-[#3b82f6]">a</span>
			<span class="inline-block transform -rotate-6 text-[#f87171]">d</span>
			<span class="inline-block transform rotate-6 text-[#facc15]">s</span>
			<span class="inline-block exclamation">!</span>
		</h1>
		<p class="text-xl text-center font-medium">Easy to learn, hard to quit.</p>

		<br />

		<p class="text-base text-center">First, give yourself a game name</p>
		<input
			#usernameInput
			type="text"
			name="username"
			required
			minlength="3"
			[(ngModel)]="usernameModel"
			placeholder="Username"
			class="input text-center text-xl font-medium" />

		<!--    <button class="btn" [disabled]="usernameForm.form.invalid">Set username</button>-->

		<button type="submit" [matTooltip]="'Got it! Let’s get going'" [disabled]="usernameForm.form.invalid" class="disabled:opacity-20">
			<div class="w-24 h-24">
				<ng-lottie [options]="playButtonLottieAnimationOptions" />
			</div>
		</button>

		<button type="button" (click)="toggleHowToPlay()" [matTooltip]="'Quickstart Directions'" class="absolute left-0 bottom-0">
			<div class="w-16 h-16">
				<ng-lottie [options]="infoButtonLottieAnimationOptions" />
			</div>
		</button>
	</form>
</div>
