@import 'tailwindcss';

.animated-color {
	@apply transition-colors duration-500 ease-in-out;
}

@layer base {
	button,
	[role='button'] {
		cursor: pointer;
	}
}

@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
	color-scheme: light; /* color of browser-provided UI */
	/*--color-primary : blue;*/
	--color-primary-content: white;
	/*--color-secondary : blue;*/
	/*--color-secondary-content : blue;*/
	/*--color-accent : blue;*/
	/*--color-accent-content : blue;*/
	/*--color-neutral : blue;*/
	/*--color-neutral-content : blue;*/
	/*--color-base-100 : blue;*/
	/*--color-base-200 : blue;*/
	/*--color-base-300 : blue;*/
	/*--color-base-content : blue;*/
	/*--color-info : blue;*/
	/*--color-info-content : blue;*/
	--color-success: #3bbd5e;
	/*--color-success-content : blue;*/
	/*--color-warning : blue;*/
	/*--color-warning-content : blue;*/
	--color-error: red;
	/*--color-error-content : blue;*/
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
	box-sizing: border-box;
	font-family: 'Quicksand', 'Poppins', sans-serif;
}

.triad-gradient {
	background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
	box-shadow:
		rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
		rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
}

.circle {
	clip-path: circle(50%); /* Creates a circle filling the element, centered */
}
