@import 'tailwindcss';

@layer base {
	button,
	[role='button'] {
		cursor: pointer;
	}
}

@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
	color-scheme: light; /* color of browser-provided UI */

	/*--color-primary : blue;*/
	--color-primary-content: white;
	/*--color-secondary : blue;*/
	/*--color-secondary-content : blue;*/
	/*--color-accent : blue;*/
	/*--color-accent-content : blue;*/
	/*--color-neutral : blue;*/
	/*--color-neutral-content : blue;*/
	/*--color-base-100 : blue;*/
	/*--color-base-200 : blue;*/
	/*--color-base-300 : blue;*/
	/*--color-base-content : blue;*/
	/*--color-info : blue;*/
	/*--color-info-content : blue;*/
	--color-success: #3bbd5e;
	/*--color-success-content : blue;*/
	/*--color-warning : blue;*/
	/*--color-warning-content : blue;*/
	--color-error: red;
	/*--color-error-content : blue;*/
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.circle {
	clip-path: circle(50%); /* Creates a circle filling the element, centered */
}
