<app-dialog title="New Identity" (whenClosed)="onClose()">
	<p class="text-xs md:text-base lg:text-lg p-2 landscape:max-md:p-2 border border-dashed rounded-sm text-center">
		Want to start again with a new identity? <br />
		You can begin fresh with a clean slate by clicking
		<span (click)="toggleDataClearingConfirmation()" class="text-blue-500 font-semibold relative cursor-pointer hover:underline">here</span>.<br />
		Note that this will clear all history from the games played under your current game name, and is not reversible.
	</p>

	@if (showDataClearingConfirmation()) {
		<div class="absolute top-0 left-0 w-full h-full bg-black/30 flex justify-center items-center rounded-b-2xl rounded-tr-2xl">
			<div class="flex flex-col gap-2 landscape:max-md:gap-2 md:gap-2 bg-base-100 p-3 landscape:max-md:p-3 md:p-4 rounded-lg">
				<p class="text-xs landscape:max-md:text-xs md:text-sm">Are you sure?</p>
				<div class="flex gap-2 landscape:max-md:gap-2 md:gap-4">
					<button (click)="toggleDataClearingConfirmation()" class="btn btn-xs landscape:max-md:btn-xs md:btn-md btn-primary">Cancel</button>
					<button (click)="resetData()" class="btn btn-xs landscape:max-md:btn-xs md:btn-md btn-secondary">Confirm</button>
				</div>
			</div>
		</div>
	}
</app-dialog>
